* {
  margin: 0;
  box-sizing: border-box;
  /* padding: 0; */
  user-select: none;
  padding: 0;
  cursor: url(../images/FF7Cursor.png) 30 10, pointer;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  color: white;
  font-size: 1.5em;
  font-family: "Press Start 2P", cursive;
  /* cursor: url(../images/FF7Cursor.png) 30 10, pointer; */
}

.screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  align-items: center;
  position: relative;
}
header {
  flex: 1.1;
  background-color: blue;
  background-image: linear-gradient(blue, #000049);
  border: 2px solid white;
  border-radius: 10px;
  width: 70%;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  /* background-color: red; */
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  /* max-width: 400px; */
  /* width: 100%; */
}

#aliens-block {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  max-width: 400px;
  flex-wrap: wrap;
  animation: alien-lr 1s ease infinite;
}
@keyframes alien-lr {
  from {
    padding-left: 20px;
    padding-right: 0;
  }
  50% {
    padding-left: 0;
    padding-right: 20px;
  }
  to {
    padding-left: 20px;
    padding-right: 0;
  }
}
.hero-block {
  text-align: center;
  padding-bottom: 10px;
}
.bullet-track {
  display: flex;
  flex-direction: column-reverse;
  width: 5px;
  position: relative;
  flex: 1;
}

#bullet {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: white;
}
.bullet-initial {
  opacity: 0;
  bottom: 0px;
  animation-direction: alternate;
}
.bullet-final {
  animation: bullet 0.6s linear;
}
@keyframes bullet {
  from {
    opacity: 1;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: 100%;
  }
}
/*========= FOOTER ============*/
footer {
  flex: 2;
  width: 100%;
  display: flex;
  /* font-size: 1.5em; */
}
footer div {
  background-color: blue;
  background-image: linear-gradient(blue, #000049);
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px;
}
footer div:first-child {
  flex: 1;
  position: relative;
}

footer div:last-child {
  flex: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
}
dl {
  display: inline-block;
}
dt {
  text-transform: uppercase;
  margin-bottom: 0.7em;
}
dd {
  padding-left: 15px;
}

#dashRight {
  position: relative;
}
.hide {
  display: none;
}
#helpMsg {
  width: 500px;
  background-color: rgba(255, 255, 255);
  color: black;
  position: absolute;
  right: 15px;
  bottom: 200px;
  box-shadow: 1px 1px 5px 3px rgba(255, 217, 0, 0.3);
  padding: 15px;
  border-radius: 10px;
}
#helpMsg li {
  margin-bottom: 0.7em;
  list-style: none;
  padding: 0;
  line-height: 1.5;
}
#attackBtn,
#helpBtn {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  border-radius: 4px;
  /* cursor: url(../images/FF7Cursor.png) 30 10, pointer; */
  font-weight: bold;
  padding: 5px;
  position: relative;
}
#attackBtn::before {
  content: "";
  position: absolute;
  width: 90px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: transparent;
}
#attackBtn:hover {
  background-color: rgb(153, 152, 152);
}
#choiceBtn {
  display: inline-block;
  width: 60px;
  height: 50px;
  background-color: transparent;
  border: none;
  position: relative;
  visibility: hidden;
  vertical-align: top;
  left: 5px;
  top: -12px;
  /* cursor: url(../images/FF7Cursor.png) 40 10, pointer; */
}
#choiceBtn::before {
  content: "";
  position: absolute;
  /* vertical-align: top; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;

  background-color: rgba(255, 217, 0);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  width: 24px;
  height: 26px;
}
#choiceBtn:hover {
  opacity: 0.5;
}

#choiceMenu {
  position: absolute;
  width: 300px;
  height: 100px;
  top: -30px;
  right: -80px;
  background-color: rgba(0, 0, 255);
  background-image: linear-gradient(blue, #000049);
  opacity: 0.9;
  color: rgb(80, 75, 75);
  /* padding: 0; */
  border: 2px solid white;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  display: none;
}
#choiceMenu button {
  display: block;
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.01em;
  line-height: 1;
  margin: 3px;
}
#choiceMenu button:hover {
  color: grey;
}
#pHull {
  font-weight: bold;
}
#gameOver {
  position: absolute;
  z-index: 2000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: white 2px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  transition: all 0.4s ease-out;
  background-image: url(../images/s-l1600.jpg);
  background-position: center;
}
.old {
  width: 0;
  height: 0;
  font-size: 0;
}
.transform {
  width: 80%;
  height: 70%;
  font-size: 4em;
  box-shadow: 1px 3px 18px 3px rgba(255, 217, 0, 0.589);
  color: blue;
  text-shadow: 3px 2px rgba(255, 217, 0, 0.589);
}
#youWin {
  background-image: url(../images/victory.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3000;
  display: none;
}
#youWin ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}
#youWin li {
  list-style: none;
  padding: 1.5em;
  font-size: 3em;
  text-shadow: 1px 2px 2px rgba(255, 0, 0, 0.4),
    3px 3px 10px rgba(255, 217, 0, 0.9);
}
